@use './styles/text' as *;
@use './styles/form' as *;
@use './styles/positions' as *;
@use './styles/colors' as *;
@use './styles/responsive' as *;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Jost:wght@600&family=Kanit:wght@600&family=Playball&family=Vina+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.content_container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden
}

#Left_Bar {
    @include left-nav;
    @include small-txt-font;
    display: flex;
    @include view1500{
        width: 20vw;
        height: 105vh;
    }
    @include view9000{
        width: 7vw;
    }
    @include view1200{
        padding-left: 10px;
    }
    @include view400{
        width: 10vw;
    }
    

    .add_side {
        padding-top: 50px;
        gap: 60px;
        color: rgba(255, 175, 55, 0.737);
        @include left-nav-added;
        @include center('column');
        position: absolute;
        justify-content: start;
        font-size: 30px;
        width: 100px;
        padding-right: 5px;
        padding-left: 5px;
        position: relative;
        i{
            cursor: pointer;
        }
        @include view1200{
            display: none;
        }
    }
    .heading_files {
        width: 100%;
        display: flex;
        @include center;
        justify-content: start;
        text-align: start;
        @include view1200{
            width: 140%;
        }
        .heading_txt{
            @include view9000{
                display: none;
            }
            width: 100%;
            height: 50px;
            padding: 20px;
            padding-top: 30px;
            gap: 20px;
            color: rgb(185, 185, 185);
            @include center-row;
            align-items: center;
            i{
                cursor: pointer;
            }
        }
        .file_list{
            @include view9000{
                display: none;
            }
            padding-right: 40px;
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            text-align: left;
            color: rgb(253, 166, 36);
            width: 100%;
            overflow: hidden;

            div{
                @include center-row;
                align-items: center;
                gap: 20px;
                height: 40px;
                font-size: 20px;
                border-radius: 7px;
                padding-right: 20px;
                margin-left: 5px;
                padding-left: 10px;
                width: 90%;
                cursor: pointer;
                z-index: 50;
                @include view1400{
                    font-size: 20px;
                }
                @include view1200{
                    width: 90%;
                    font-size: 20px
                }
                @include view1000{
                    padding-left: 2px;
                    gap:10px;
                    i{
                        margin-left: 2px
                    }
                }
                

            }
        }
    }
}

#Top_Bar{
    @include top-nav;
    width: 90vw;
    overflow: hidden;
    @include view1500{
        width: 85vw
    }
    @include view1300{
        width: 85vw;
    }
    @include view9000{
        width: 94vw;
    }
}


.right_side{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#HomePage{
    height: 100vh;
    background-color: #1F1F1F;
    @include full-center;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 100px;
    @include view1200{
     gap: 20px           
    }
    @include view1000{
        gap: 10px;
    }
    h1{
        @include heading-txt-font(140px);
        color: rgb(255, 175, 55);
        letter-spacing: 5px;
        @include view1400 { 
            font-size: 120px
        }
        @include view1200{
            font-size: 110px
        }
        @include view1000{
            font-size: 90px
        }
        @include view800{
            font-size: 80px
        }
        @include view700{
            font-size: 70px
        }
        @include view600{
            font-size: 55px
        }
        @include view500{
            font-size: 45px
        }
        @include view450{
            font-size: 35px;
            letter-spacing: 3px
        }
    }

    h3{
        @include small-txt-font;
        font-size: 20px;
        letter-spacing: 1px;
        @include view700{
            font-size: 16px;
        }
        @include view500{
            font-size: 12px;
        }
    }
    
    .head_text{
        letter-spacing: 1px;
        @include tag-txt-form;
        color: rgb(255, 175, 55);
        font-size: 20px;
        height: 50px;
        padding-left: 00px;
        @include center-row;
        @include view700{
            font-size: 17px;
        }
        @include view600{
            font-size: 14px;
        }
        @include view500{
            font-size: 10px;
        }
        
    } 
    .Name_txt{
        display: flex;
    }
    
}

#Top_Bar{
    display: flex;
    align-items: end;
}

#menu_icon{
    display: none;
    @include view9000{
        display: block;
        color: rgb(255, 175, 55);
        margin-top: 25px;
        font-size: 25px;
        z-index: 500;
        margin-left: -10px;
    }
}

#x_icon{
    color: rgb(255, 175, 55);
    z-index: 500;
    margin-top: 15px;
    font-size: 30px;
    margin-left: 20px;
}

.tooltip{
    background-color: rgba(19, 18, 18, 0.797);
    position: absolute;
    width: 400px;
    margin-left: 20px;
    z-index: 60000;
   
    h2{
        @include regular-txt-font;
        font-size: 15px;
        padding: 15px;
    }
}

#nav_modul{
    @include modul;
    z-index: 500;
}

.pages_drag{
    display: flex;
    width: 90%;
    height: 100%;
    align-items: end;
    div{
        @include base-text-color;
        @include up_tag;
        @include center-row;
        @include regular-txt-font;
        color: white;
        @include view1500{
            width: 250px;
        }
        @include view1300{
            width: 200px;
            font-size: 8px;
        }
        @include view1000{
            width: 170px;
        }
        @include view9000{
            width: 150px;
            height: 80%;
            padding-left: 15px;
            gap: 10px;
        }
        @include view700{
            width: 120px;
            font-size: 6px;
            padding-left: 10px;
        }
        position: relative;
        font-size: 10px;
        gap: 20px;
        transition: 0.6s;
        i{
            font-size: 30px;
            @include view1300{
                font-size: 25px;
            }
            @include view9000{
                font-size: 20px;
            }
        }
        p {
            position: absolute;
            font-size: 30px;
            right: 20px;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            @include view1300{
                font-size: 20px;
            }
            @include view9000{
                right: 5px;
            }
          }
        
          &:hover p {
            opacity: 1; 
          }
          &:hover{
            background-color: rgba(38, 38, 38, 0.742);
          }
          
    }
}

.HomePage_Links{
    position: absolute;
    right: 20px;
    width: 100px;
    @include full-center;
    flex-direction: column;
    height: 80vh;
    gap: 50px;
    @include view1500{
        display: none;
    }
    .icon_list{
       background-color: rgb(255, 175, 55);
       border-radius: 50%;
       cursor: pointer;
       i{
        width: 40px;
        height: 40px;
        @include full-center;
        z-index: 700;
       }
       z-index: 10;
       
    }
    .icon_list_txt{
        h2{
            margin-left: 0px;
            text-align: start;
            @include full-center;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            width: 150px;
            height: 40px;
            margin-top: -110px;
            background-color:rgb(255, 175, 55);
            @include regular-txt-font;
            font-size: 18px;
        }
        width: 100px;
        right: 100px;
        border-radius: 50px;
        position: absolute;
        margin-top: 50px
        
    }
}

#SkillPage{
    @include PageContent;
    text-align: center;
    padding-bottom: 200px;
    @include view1500{
        height: 98vh;
        overflow: hidden;
        padding-right: 20px;
        padding-bottom: 300px;
    }
    @include view9000{
        width: 94vw;
        padding-left: 5px;
    }
    @include view800{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 150px;
    }
    @include view700{
        display: flex;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
        width: 93vw;
        padding-right: 70px;
    }
    h1{
        @include view700{
            margin-left: 120px;
        }
        @include view600{
            font-size: 40px;
            margin-left: 100px;
        }
        @include view800{
            margin-left: 150px;
        }
    }

  
}

#circle{
    width: 160px;
    height: 160px;
    position: relative;
    text-align: center;
    h2{
        @include small-txt-font;
        font-size: 20px;
        margin-top: 20px;
    }
    z-index: 500;
}

.skill_list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    @include center;
    flex-direction: row;
    gap: 150px;
    padding: 150px 0px;
    text-shadow: 2px 5px 10px rgba(234, 160, 0, 0.459);
    padding: 0px 10px;
    @include view1400{
        height: 100vh;
    }
    @include view9000{
        width: 90%;
        padding-left: 20%;
        gap: 50px;
        justify-content: space-around;
        padding-right: 250px;
    }

    @include view800{
        padding-top: 100px;
        margin-left: 10px;
        padding-right: 50px;
        width: 60%;
        gap: 120px;
        height: 50vh;
        text-align: center;
    }
    @include view700{
        width: 600px;
        padding-right: 70px;
        gap: 150px;
        
    }
    @include view600{
        width: 500px;
    }

}

.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(255, 175, 55, 0.297),
                -6px -6px 10px -1px rgba(255, 175, 55, 0.304)
    ;
}

.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: 
    inset 4px 5px 6px -1px rgba(255, 175, 55, 0.297),
    inset -4px -4px 10px -1px rgba(255, 175, 55, 0.297),
    -4px -4px 10px -1px rgba(255, 175, 55, 0.297),
    -4px -4px 10px -10px rgba(255, 175, 55, 0.59),
    ;
    @include center
}

.procent{
    font-size: 30px;
    @include small-txt-font;
    color: rgba(253, 166, 36, 0.626);
}

circle{
    width: 200px;
    height: 200px;
    font-size: 200px;
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    border-radius: 20px;
    
}

svg{
    position: absolute;
    left: 0;
    top: -5px;
    border-radius: 20px;
}

.header_txt{
    font-size: 30px;
    @include small-txt-font;
    transform: translateY(100px);
    text-shadow: 2px 5px 10px rgba(135, 69, 3, 0.57);
}

#nav_modul{

    .file_list{
        @include modul_nav;
        @include view800{
            gap: 50px;
        }
        div{
            @include view600{
                font-size: 30px;
            }
            width: 80%;
            height: 70px;
            @include full-center;
            gap: 20px;
            border-radius: 20px;
            color: white;
            font-size: 40px;
            @include small-txt-font;
            text-shadow: 2px -4px 7px rgba(255, 166, 0, 0.579);
            cursor: pointer;
        }
    }
}

#x_icon{
    margin-left: 50px;
}

.drag_overflow{
    margin-top: 100px;
    overflow: hidden;
    padding-top: 50px;
    height: fit-content;
    height: 70vh;
    padding-bottom: 100px;
    @include view9000{
        width: 93vh;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    @include view800{
        height: 200vh;
        padding-top: 400px;
    }
    
}

#AboutPage{
    @include PageContent;
    @include center-row;
    width: 172vw;
    .HomePage_Links{
        top: 15%;
        right: 0px;
        gap: 40px;
    }
    .icon_list{
        width: 40px;
        height: 40px;
        @include full-center;
        color: black;
    }
    #contact_icon{
        color: rgb(0, 0, 0);
        font-size: 23px;
        z-index: 5000;
    }
    #hll{
        margin-top: -40px;
        margin-left: -135px;
        height: 40px;
        pointer-events: none;
        color: orange;
    }

      .photoshape {
        @include view1700{
            width: 450px;
            height: 450px;
        }
        @include view1300{
            width: 400px;
            height: 400px;
        }
        @include view1200{
            width: 350px;
            height: 350px;
        }
        @include view700{
            margin-left: 20px;
            width: 300px;
            height: 300px;
        }
        @include view400{
            width: 250px;
            height: 250px;
        }
        @include hview800{
            height: 200px;
            width: 220px;
        }
        @include hvie670{
            width: 220px;
            height: 300px;
        }
        width: 550px;
        height: 550px;
        background-color: rgb(227, 150, 34);
        @include full-center;
        overflow: hidden;
        border-radius: 80% 20% 55% 45% / 49% 51% 49% 51%;
      }
      
    .photo_container{
        @include view1700{
            width: 25%;
        }
        @include view1300{
            padding-left: 20px;
        }
        @include view1000{
            justify-items: 50%;
            flex-direction: row;
            width: 100%;
            gap: 50px;
        }
        @include view700{
            width: 110%;
        }
        @include view600{
            flex-direction: column;
            gap: 20px;
        }
        @include view500{
            padding-left: 0px;
            padding-right: 10px;
            text-align: center;
        }
        @include hview800{
            height: 50vh;
            padding-bottom: 100px;
        }
        width: 30%;
        height: 100%;
        @include full-center;
        flex-direction: column;
        gap: 20px;
        text-align: left;
        img{
            @include view1700{
                width: 500px;
                height: 500px;
            }
            @include view1200{
                width: 400px;
                height: 400px;
            }
            @include view400{
                height: 300px;
            }
            @include hview800{
                height: 250px;
            }
            @include hvie670{
                width: 200px;
            }
            margin-top: 100px;
            width: 700px;
            height: 700px;
            pointer-events: none;
            filter: drop-shadow(5px 20px 20px rgb(0, 0, 0));
        }
        @include regular-txt-font;
        letter-spacing: 1px;
        padding-bottom: 100px;
        h2{
            @include view1700{
                font-size: 20px;
            }
            @include view1400{
                width: 140%;
                font-size: 16px;
            }
            @include view700{
                font-size: 14px;
            }
            @include hvie670{
                font-size: 12px;
            }
        }
        h3{
         @include view1700{
            font-size: 15px;
            font-size: 13px;
            }
        @include view700{
            font-size: 10px;
        }
        @include view500{
            margin-left: 70px;
        }
        font-size: 18px;
        @include small-txt-font  
        }
    }
    .info_about_container{
        @include view1700{
            height: 90%;
            padding-top: 10px;
            width: 60%;
        }
        @include view1300{
            padding-bottom: 230px;
        }
        @include view1000{
            width: 100%;
            height: 40%;
            padding-bottom: 200px;
            gap: 0px;
        }
        @include view9000{
            text-align: center;
        }
        @include hview800{
            padding-bottom: 200px;
        }
        @include hview800{
            padding-bottom: 110px;
        }
        width: 55%;
        height: 100%;
        @include regular-txt-font;
        letter-spacing: 1px;
        font-size: 40px;
        @include center;
        padding-bottom: 200px;
        gap: 30px;
        position: relative;
        .heading_txt_about{
            display: flex;
            font-size: 40px;
            @include view1300{
                font-size: 30px;
            }
            @include view1000{
               font-size: 20px;
            }
            @include view9000{
                margin-left: 120px;
            }
            @include view700{
                margin-left: -300px;
            }
            @include view600{
                margin-left: 40px;
            }
            @include view600{
                font-size: 15px;
                margin-top: 30px;
            }
            @include hvie670{
                font-size: 12px;
            }
        }
        .about_me_txt{
            @include view1200{
                padding-left: 50px;
                width: 80%;
            }
            @include view1000{
                width: 100%;
            }
            @include view9000{
                text-align: center;
            }
            @include view700{
                text-align: start;
            }
            @include view600{
                padding-left: 20px;
                padding-bottom: 80px;
            }
            flex-direction: column;
            display: flex;
            padding-left: 150px;
            width: 100%;
        }
        P{
            width: 80%;
            font-size: 15px;
            @include view1700{
                font-size: 12px;
            }
            @include view1300{
                font-size: 10px;
                width: 110%;
            }
            @include view1000{
                font-size: 11px;
            }
            @include view600{
                font-size: 9px;
                width: 400px;
            }
            @include view500{
                width: 90vw;
                padding-right: 20px;
                font-size: 8px;
            }
            @include hvie670{
                font-size: 7px;
            }
        }
        button{
            @include view1500{
                bottom: 120px;
            }
            @include view1300{
                bottom: 200px;
                font-size: 14px;
                left: 160px;
            }
            @include view1200{
                bottom: 250px;
                left: 130px;
                
            }
            @include view1000{
                bottom: 630px;
                left: 67%
            }
            @include view600{
                bottom: 90px;
                left: 5%;
            }
            @include view500{
                left: 35%;
                bottom: 70px
            }
            @include hview800{
                bottom: 25px
            }
            @include button;
            cursor: pointer;
            border-radius: 5px;
            color: rgb(253, 166, 36);
            @include regular-txt-font;
            font-size: 17px;
            background-color: transparent;
            transition: .4s ease-in;
            margin-top: 20px;
            position: absolute;
            left: 190px;
            bottom: 160px;
            &:hover{
                text-shadow: 2px 3px 10px rgba(253, 166, 36, 0.626);
            }
        }
    }

    #first_abt{
        display: flex;
        @include full-center;
        width: 100%;
        height: 100%;
        position: relative;
        @include view1000{
            flex-direction: column;
        }
    }
    #Second_abt{
        @include view1500{
            padding-left: 70px;
        }
        @include view1300{
            padding-left: 30px;
        }
        @include view9000{
            gap: 100px;
            padding-left: 60px;
        }
        @include view800{
            flex-direction: column;
            padding-left: 5%;
        }
        @include view600{
            padding-left: 50px;
        }

        position: relative;
        width: 95%;
        height: 100%;
        display: flex;
        padding-left: 100px;
        gap: 40px;
        .education_side, .myexperience_side{
            @include experience-modul;
            @include view1200{
                margin-top: 20px;
            }
            @include view500{
                margin-top: 40px;
            }

            h2{
                @include view1300{
                    margin-left: -150px;
                }
                @include view9000{
                    margin-left: -50px
                }
                @include view500{
                    margin-left: 20px;
                }
                @include small-txt-font;
                font-size: 35px;
                margin-left: -260px;
            }
            #cont_exp{
                @include view1500{
                    width: 450px;
                    height: 160px;
                }
                @include view1300{
                    margin-left: 20px;
                    width: 350px;
                    height: 200px;
                }
                @include view1000{
                    width: 300px;
                }
                @include view800{
                    width: 450px;
                    margin-left: 320px;
                    height: 150px;
                }
                @include view600{
                    margin-left: 230px;
                    height: 200px;
                    width: 360px;
                }
                @include view500{
                    margin-left: 120px;
                    width: 200%;
                    height: 300px;
                }
                width: 500px;
                height: 180px;
                background-color: rgba(19, 18, 18, 0.334);
                border: 1px solid rgb(253, 166, 36);
                box-shadow: 12px 5px 10px .1px rgba(253, 166, 36, 0.282);
                border-radius: 10px;
                padding: 5px;
                padding-left: 10px;
                overflow: hidden;
                h3{
                    @include view1300{
                        font-size: 16px
                    }
                    @include view400{
                        font-size: 9px
                    }
                    @include small-txt-font;
                }
                p{
                    @include view1500{
                        font-size: 11px
                    }
                    @include view400{
                        font-size: 8px;
                        margin-top: 5px
                    }
                    @include regular-txt-font;
                    margin-top: 10px;
                    font-size: 13px;
                }
            }
            .content_side{
                @include view1700{
                    left: -10px;
                }
                @include view1200{
                    margin-top: 60px;
                }
                @include view9000{
                    left: -30px;
                }
                @include view800{
                    margin-top: 90px;
                }
                position: absolute;
                width: 3px;
                height: 78%;
                background-color: rgb(255, 175, 55);
                left: 40px;
                display: flex;
                flex-direction: column;
                gap: 200px;
                padding-top: 80px;
                
                div{
                    @include view500{
                        width: 20px;
                        height: 20px;
                        margin-left: 5px;
                    }
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: rgb(253, 166, 36);
                    transform: translateX(-12px);
                }
            }
        }
        .myexperience_side{
            @include experience-modul;

        }
    }

}

#back_button{
    @include view500{
        font-size: 15px;
    }
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(255, 175, 55);
    background-color: transparent;
    @include button;
    @include regular-txt-font;
    font-size: 20px;
    cursor: pointer;
}