@use './styles/text' as *;
@use './styles/form' as *;
@use './styles/positions' as *;
@use './styles/colors' as *;
@use './styles/responsive' as *;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Jost:wght@600&family=Kanit:wght@600&family=Playball&family=Vina+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

.content_container {
    display: flex;
}

#Left_Bar {
    @include left-nav;
    @include small-txt-font;
    display: flex;
    @include view1500{
        width: 20vw;
        height: 105vh;
    }
    @include view9000{
        width: 7vw;
    }
    @include view1200{
        padding-left: 10px;
    }
    padding-right: 40px;
    padding-left: 40px;
    .add_side {
        padding-top: 50px;
        padding-right:0px;
        gap: 60px;
        color: rgba(255, 175, 55, 0.737);
        @include left-nav-added;
        @include center('column');
        justify-content: start;
        font-size: 30px;
        position: relative;
        i{
            cursor: pointer;
        }
        @include view1200{
            display: none;
        }
    }
    .heading_files {
        width: 100%;
        display: flex;
        @include center;
        justify-content: start;
        text-align: start;
        @include view1200{
            width: 140%;
        }
        .heading_txt{
            @include view9000{
                display: none;
            }
            width: 100%;
            height: 50px;
            padding: 20px;
            padding-top: 30px;
            gap: 20px;
            color: rgb(185, 185, 185);
            @include center-row;
            align-items: center;
            i{
                cursor: pointer;
            }
        }
        .file_list{
            
            @include view9000{
                display: none;
            }
            padding-right: 0px;
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            text-align: left;
            color: rgb(253, 166, 36);
            width: 100%;
            overflow: hidden;

            div{
                @include center-row;
                align-items: center;
                gap: 20px;
                height: 40px;
                font-size: 22px;
                border-radius: 7px;
                margin-left: 15px;
                padding-left: 10px;
                width: 110%;
                cursor: pointer;
                @include view1200{
                    width: 150%;
                    font-size: 20px
                }
                @include view1000{
                    padding-left: 2px;
                    gap:10px;
                    i{
                        margin-left: 2px
                    }
                }
                

            }
        }
    }
}

#Top_Bar{
    @include top-nav;
    width: 90vw;
    overflow: hidden;
    @include view1500{
        width: 85vw
    }
    @include view1300{
        width: 82vw;
    }
    @include view9000{
        width: 94vw;
    }
}


.right_side{
    height: 100vh;
    width: 95vw;
    overflow: hidden;
}

#HomePage{
    height: 100%;
    background-color: #1F1F1F;
    @include full-center;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 100px;
    @include view1200{
     gap: 20px           
    }
    @include view1000{
        gap: 10px;
    }
    h1{
        @include heading-txt-font(140px);
        color: rgb(255, 175, 55);
        letter-spacing: 5px;
        @include view1400 { 
            font-size: 120px
        }
        @include view1200{
            font-size: 110px
        }
        @include view1000{
            font-size: 90px
        }
        @include view800{
            font-size: 80px
        }
        @include view700{
            font-size: 70px
        }
        @include view600{
            font-size: 55px
        }
        @include view500{
            font-size: 45px
        }
        @include view450{
            font-size: 35px;
            letter-spacing: 3px
        }
    }

    h3{
        @include small-txt-font;
        font-size: 20px;
        letter-spacing: 1px;
        @include view700{
            font-size: 16px;
        }
        @include view500{
            font-size: 12px;
        }
    }
    
    .head_text{
        letter-spacing: 1px;
        @include tag-txt-form;
        color: rgb(255, 175, 55);
        font-size: 20px;
        height: 50px;
        padding-left: 00px;
        @include center-row;
        @include view700{
            font-size: 17px;
        }
        @include view600{
            font-size: 14px;
        }
        @include view500{
            font-size: 10px;
        }
        
    } 
    .Name_txt{
        display: flex;
    }
    
}

#Top_Bar{
    display: flex;
    align-items: end;
}

#menu_icon{
    display: none;
    @include view9000{
        display: block;
        color: rgb(255, 175, 55);
        margin-top: 25px;
        font-size: 25px;
        margin-left: 5px;
        z-index: 500;
        margin-left: 20px;
    }
}

#x_icon{
    color: rgb(255, 175, 55);
    z-index: 500;
    margin-top: 15px;
    font-size: 30px;
    margin-left: 20px;
}

.tooltip{
    background-color: rgba(19, 18, 18, 0.797);
    position: absolute;
    width: 400px;
    margin-left: 20px;
   
    h2{
        @include regular-txt-font;
        font-size: 15px;
        padding: 15px;
    }
}

#nav_modul{
    @include modul;
    z-index: 500;
}

.pages_drag{
    display: flex;
    width: 90%;
    height: 100%;
    align-items: end;
    div{
        @include base-text-color;
        @include up_tag;
        @include center-row;
        @include regular-txt-font;
        @include view1500{
            width: 250px;
        }
        @include view1300{
            width: 200px;
            font-size: 8px;
        }
        @include view1000{
            width: 170px;
        }
        @include view9000{
            width: 150px;
            height: 80%;
            padding-left: 15px;
            gap: 10px;
        }
        @include view700{
            width: 120px;
            font-size: 6px;
            padding-left: 10px;
        }
        position: relative;
        font-size: 10px;
        gap: 20px;
        transition: 0.6s;
        i{
            font-size: 30px;
            @include view1300{
                font-size: 25px;
            }
            @include view9000{
                font-size: 20px;
            }
        }
        p {
            position: absolute;
            font-size: 30px;
            right: 20px;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            @include view1300{
                font-size: 20px;
            }
            @include view9000{
                right: 5px;
            }
          }
        
          &:hover p {
            opacity: 1; 
          }
          &:hover{
            background-color: rgba(38, 38, 38, 0.742);
          }
          
    }
}

.HomePage_Links{
    position: absolute;
    right: 20px;
    width: 100px;
    @include full-center;
    flex-direction: column;
    height: 80vh;
    gap: 20px;
    @include view1500{
        display: none;
    }
    .icon_list{
       background-color: rgb(255, 175, 55);
       border-radius: 50%;
       cursor: pointer;
       i{
        width: 40px;
        height: 40px;
        @include full-center;
       }
       z-index: 200;
       
    }
    .icon_list_txt{
        h2{
            position: absolute;
            margin-left: -100px;
            text-align: start;
            @include full-center;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            width: 150px;
            height: 40px;
            margin-top: -60px;
            background-color:rgb(255, 175, 55) ;
            @include regular-txt-font;
            font-size: 18px;
        }
        width: 100px;
        right: 100px;
        border-radius: 50px;
        background-color: red;
        
    }
}