@use './colors' as *;

@mixin left-nav-added {
    width: 2%;
    height: 100%;
    background-color: rgb(25,25,24);
    border-right: 1px solid rgba(128, 128, 128, 0.416);
}

@mixin left-nav{
    width: 15vw;
    height: 100vh;
    background-color: rgb(24, 24, 24);
    border-right: 1px solid rgba(128, 128, 128, 0.416);
}

@mixin top-nav{
    width: 85vw;
    background-color: rgb(25,25,24);
    height: 7vh;
}

@mixin button{
    outline: none;
    border: none;
    text-align: center;
    cursor: pointer;
}

@mixin up_tag {
    width: 300px;
    background-color: rgb(16, 16, 16);
    height: 80%;
    border-top-right-radius: 15px;
    padding-left: 20px;
    cursor: pointer;
    border: 1px solid rgb(44, 44, 44);
}

@mixin modul{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.886);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5000000000000;
}

@mixin PageContent{
    height: 100%;
    background-color: #1F1F1F;
    width: 86vw;
    color: rgb(255, 175, 55);
}

@mixin modul_nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 100px;
}

@mixin experience-modul{
    width: 22%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
}