@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Jost:wght@600&family=Kanit:wght@600&family=Playball&family=Vina+Sans&display=swap');


@mixin small-txt-font{
    font-family: 'Kanit', sans-serif;
} 

@mixin heading-txt-font($font-size) { 
    font-family: 'Vina Sans', sans-serif;
    font-size: $font-size;
}

@mixin regular-txt-font { 
    font-family: 'Jost', sans-serif;
}

@mixin tag-txt-form {
    font-family: 'Playball', cursive;
    
}